<div class="intro-section pt-lg-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="banner banner-big banner-overlay">
                    <a href="#">
                        <img src="/static/assets/images/demos/demo-20/banners/banner-1.jpg" alt="بنر">
                    </a>

                    <div class="banner-content text-right">
                        <h4 class="banner-subtitle text-white"><a href="#">be motivated and do</a></h4>
                        <!-- End .banner-subtitle -->
                        <h2 class="banner-title text-white"><a href="#">Your Today's<br>Tasks</a></h2>
                        <!-- End .banner-title -->
                        <a href="#" class="btn btn-outline-white-3 banner-link">today's task list<i
                                class="icon-long-arrow-left"></i></a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-lg-6 -->

            <div class="col-sm-6 col-lg-3">
                <div class="banner banner-overlay">
                    <a href="#">
                        <img src="/static/assets/images/demos/demo-20/banners/banner-2.jpg" alt="بنر">
                    </a>

                    <div class="banner-content banner-content-stretch">
                        <h4 class="banner-subtitle text-white"><a href="#">?new duty</a></h4>
                        <!-- End .banner-subtitle -->
                        <h3 class="banner-title text-white"><a href="#">ADD <br>NEW
                            <br>!TASK</a></h3><!-- End .banner-title -->
                        <a href="#" class="btn btn-outline-white-3 banner-link">مشاهده<i
                                class="icon-long-arrow-left"></i></a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="banner banner-small banner-overlay">
                    <a href="#">
                        <img src="/static/assets/images/demos/demo-20/banners/banner-3.jpg" alt="بنر">
                    </a>

                    <div class="banner-content text-right">
                        <h4 class="banner-subtitle text-white d-lg-none d-xl-block"><a href="#">check this</a>
                        </h4><!-- End .banner-subtitle -->
                        <h3 class="banner-title text-white"><a href="#">API<br>PANEL
                        </a></h3><!-- End .banner-title -->
                        <a href="#" class="btn btn-outline-white-3 banner-link">خرید<i
                                class="icon-long-arrow-left"></i></a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->

                <div class="banner banner-small banner-overlay">
                    <a href="#">
                        <img src="/static/assets/images/demos/demo-20/banners/banner-4.jpg" alt="بنر">
                    </a>

                    <div class="banner-content text-right">
                        <h4 class="banner-subtitle text-white d-lg-none d-xl-block"><a href="#">add new</a>
                        </h4><!-- End .banner-subtitle -->
                        <h3 class="banner-title text-white"><a href="#">CATEGORY</a></h3>
                        <!-- End .banner-title -->
                        <a href="{% url 'category-create' %}" class="btn btn-outline-white-3 banner-link">new category<i
                                class="icon-long-arrow-left"></i></a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

</div><!-- End .intro-section -->
